<h3>About Rubypaste</h3>
<p class="static"><strong>Rubypaste</strong> is a snippet storage for the code written (as you might guess) in Ruby—with the syntax highlighting in the manner of beautiful <i>Monokai</i> theme.

Made for the sake of exercise, skill testing and getting my hands dirty in some JS.

Syntax highlighting made with the <strong><%= link_to "highlight.js", 'https://highlightjs.org/' %></strong> library.

Github link: <%= link_to "soupdawgie/rubypaste", 'https://highlightjs.org/' %>.
</p>
