<% provide(:title,       "Edit snippet") %>
<% provide(:code_label,  "Your code") %>
<% provide(:button_text, "Submit changes") %>
<%= javascript_include_tag "enable_tab.js" %>

<h1>Edit snippet</h1>

<%= render 'form' %>
