<% provide(:title, 'Snippets') %>
<%= javascript_include_tag "load_highlight.js" %>
<%= javascript_include_tag "copy_link.js" %>

<h1>All snippets</h1>
<% if @snippets.empty? %>
  <h4>You don't have any snippets yet. Go ahead and save some delightful code!</h4>
<% else %>
  <% @snippets.each do |snippet| %>
    <%= render snippet %>
  <% end %>
  <%= will_paginate %>
<% end %>
