<% provide(:title, "Create snippet") %>
<% provide(:code_label, "Paste your code here") %>
<% provide(:button_text, "Save!") %>
<%= javascript_include_tag "enable_tab.js" %>

<h1>Create snippet</h1>

<%= render 'form' %>
