<% provide(:title, @snippet.title) %>
<div class="snippet-container">
	<span>
		<h3><%= @snippet.title %></h3>
		<%= link_to "edit",   edit_snippet_path(@snippet), id: "sub_button" %>
		<%= link_to "delete", @snippet, method: :delete, data: { confirm: "You sure?" },
																	 id: "sub_button" %>
	</span>
	<p><%= @snippet.code %></p>
</div>