@import "bootstrap-sprockets";
@import "bootstrap";
@import "monokai-sublime";
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:900);

/* color set */

$black: #000000;
$red: #B11623;
$redder: #9F111B;
$black-eye: #292C37;
$all-cs: #CCCCCC;
$hover_color: #A7ACBE;

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  margin-bottom: 45px;
}

/* universal */

body {
  font-size: 16px;
  color: white;
	padding-top: 80px;
	padding-bottom: 60px;
  background-color: $all-cs;
}

a {
  color: white;
}

div.alert {
	margin-top: 10px;
}

div.col-md-8 {
  padding: 10px;
  border-radius: 5px;
  background-color: #272822;
	a {
    text-decoration: underline;
		&:hover {
			color: $hover-color;
		}
	}
}

.pagination {
	margin: 0px;
}

/* header */

header.navbar {
  overflow: visible;
	background-color: $red;
  height: 70px;
  nav {
    margin-top: 5px;
    ul {
      margin: 4px 0px 0px 20px;
      li {
        a {
          &:hover {
            color: $hover_color;
            background-color: transparent;
          }
        }
      }
      li.create {
        a {
        border-radius: 3px;
        background-color: $black-eye;
        box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.19);
        &:hover {
          border-radius: 3px;
          color: white;
          background-color: #363b4a;

        } }
      }
    }
  }
}

.brand {
  float: left;
  margin: 0px 10px 0px 15px;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 40px;
  letter-spacing: -2px;
  // text-transform: uppercase;
		&:hover {
      color: white;
			text-decoration: none;
		}
    &:focus {
      color: white;
      text-decoration: none;
    }
}

/* footer */

footer {
  padding: 10px 0px 10px 113px;
  border-top: 0.5px solid $hover-color;
	background-color: $black-eye;
	a {
  	font-weight: bold;
		color: #ff0e1d;
		&:hover {
			color: $hover-color;
			text-decoration: none;
		}
	}
}

/* forms */

input.btn {
	margin-top: 20px;
  border: none;
	background-color: #1d1d16;
	&:hover {
		background-color: $hover-color;
	}
}

form label {
	margin-top: 20px;
	font-size: 18px;
	font-weight: normal;
}

form.new_snippet, form.edit_snippet {
  textarea {
  padding: 10px;
  resize: vertical;
	border: none;
	font-family: monospace;
  color: white;
	background-color: #272822;
	white-space: pre;
  }

  input {
   padding: 20px;
   padding-left: 10px;
   border: none;
   font-size: 24px;
   color: white;
   background-color: #1d1d16;
   white-space: pre;
 }
}

/* snippets — to be redefined http://www.w3schools.com/bootstrap/bootstrap_panels.asp */

.snippet {
	margin-top: 20px;
	color: white;
	div.title {
		display: inline-block;
		width: 100%;
		padding: 10px;
		border-radius: 5px 5px 0px 0px;
    background-color: #1d1d16;
		a {
			color: white;
			&:hover {
				color: $hover_color;
				text-decoration: none;
			}
      i {
        margin-left: 5px;
        &.glyphicon-share {
          margin-left: 10px;
        }
      }
		}
		h3 {
			display: inline;
		}
	}
	div.code {
    padding: 10px;
    border-radius: 0px 0px 5px 5px;
    font-family: monospace;
		white-space: pre;
	}
}
