@import "bootstrap-sprockets";
@import "bootstrap";
@import "monokai-sublime";

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

$hover_color: #bfbfbf;
$nav_color:   #373737;

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  margin-bottom: 45px;
  @include box_sizing;
}

/* universal */

body {
	padding-top: 60px;
	padding-bottom: 60px;
  background: #e6e6e6; /* For the wretched ones */
  background: -webkit-linear-gradient(left top, #e6e6e6, #333333); /* Safari */
  background: -o-linear-gradient(bottom right, #e6e6e6, #333333); /* Opera */
  background: -moz-linear-gradient(bottom right, #e6e6e6, #333333); /* Firefox */
  background: linear-gradient(to bottom right, #e6e6e6, #333333); /* Chrome */
}

html {
    min-height: 100%;
}

div.alert {
	margin-top: 10px;
}

/* header */

header.navbar {
	background-color: $nav_color;
}

#navbar-override {
		a {
			color: white;
			&:hover {
				color: $hover_color;
			}
		}
		img {
			margin-right: 1px;
		}
}

#logo {
	font-family: trebuchet ms;
	float: left;
	padding-top: 9px;
	margin-right: 10px;
	/*text-transform: uppercase;*/
	font-size: 1.7em;
	letter-spacing: -1px;
	color: white;
	/*font-weight: bold;*/
	font-style: italic;
		&:hover {
			color: $hover-color;
			text-decoration: none;
		}
}

/* footer */

footer {
	padding-left: 113px;
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: $nav_color;
	border-top: 0.5px solid $hover-color;
	small {
		color: white;
		font-size: 14px;
		a {
			color: #ff0e1d;
			font-weight: bold;
			&:hover {
				color: $hover-color;
				text-decoration: none;
			}
		}
	}

}

/* forms */

input.btn {
	margin-top: 20px;
	background-color: #1d1d16;
	border: none;
	&:hover {
		background-color: $hover-color;
	}
}

form label {
	margin-top: 20px;
	font-size: 18px;
	font-weight: normal;
}

textarea#snippet_code {
	border: none;
	resize: vertical;
	color: white;
	background-color: #272822;
	font-family: consolas;
	white-space: pre;
	padding: 10px;
}

input#snippet_title {
	border: none;
	color: white;
	background-color: #1d1d16;
	font-size: 24px;
	font-family: trebuchet ms;
	white-space: pre;
	padding: 20px;
	padding-left: 10px;
}


/* snippets */

.snippet-container {
	margin-top: 20px;
	color: white;
	span.title-links {
		display: inline-block;
		width: 100%;
		padding: 10px;
		border-top-left-radius: 5px;
		border-top-right-radius: 5px;
		background-color: #1d1d16;
		font-family: trebuchet ms;
		a {
			color: white;
			&:hover {
				color: $hover_color;
				text-decoration: none;
			}
		}
		a#sub_button {
			background-color: #aa0610;
			border-radius: 1px;
			margin-left: 5px;
			padding: 2px;
		}
		h3 {
			display: inline;
		}
	}
	p.code {
		white-space: pre;
		padding: 10px;
		font-family: consolas;
		border-bottom-left-radius: 5px;
		border-bottom-right-radius: 5px;
	}
}

.pagination {
	margin: 0px;
}