@import "bootstrap-sprockets";
@import "bootstrap";
@import "agate";

/* color set */

$black: #000000;
$red: #B11623;
$redder: #9F111B;
$black-eye: #292C37;
$all-cs: #CCCCCC;
$hover-color: #A7ACBE;
$div-color: #333333;

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  margin-bottom: 45px;
}

/* universal */

body {
  padding-top: 80px;
  padding-bottom: 150px;
  color: white;
  background-color: $all-cs;
  font-size: 16px;
  font-family: "LiberationSans";
}

html {
  position: relative;
  min-height: 100%;
}

a {
  color: white;
  &:hover {
    color: $hover-color;
    text-decoration: underline;
  }
  &:focus {
    color: $hover-color;
    text-decoration: underline;
  }
}

div.alert {
	margin-top: 10px;
}

div.col-md-10 {
  padding: 10px;
  border-radius: 5px;
  background-color: $div-color;
	a {
    text-decoration: underline;
	}
}

div.pagination {
  margin-top: 15px;
  ul {
    li {
      a {
        color: $red;
        &:hover {
          color: $black-eye;
        }
      }
    }
    li.active {
      a {
        color: white;
        background-color: $red;
        border-color: $red;
        &:hover {
          background-color: $black-eye;
        }
      }
    }
  }
}

div.container-fluid {
  padding: 0px 40px 0px 40px;
}

/* header */

header.navbar {
  height: 70px;
	background-color: $red;
  nav {
    margin-top: 5px;
    ul {
      margin: 4px 0px 0px 20px;
      a {
        &:hover {
          color: $hover-color;
          background-color: transparent;
        }
      }
      li.create {
        a {
        border-radius: 3px;
        background-color: $black-eye;
        box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.19);
        &:hover {
          border-radius: 3px;
          color: white;
          background-color: #363b4a;
          }
        }
      }
    }
    ul.navbar-right {
      margin-right: 30px;
    }
  }
}

.brand {
  float: left;
  margin: 0px 10px 0px 40px;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 40px;
  letter-spacing: -2px;
		&:hover {
      color: white;
			text-decoration: none;
		}
    &:focus {
      color: white;
      text-decoration: none;
    }
}

/* footer */

footer.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 120px;
  margin-left: -45px;
  padding: 35px 0px 25px 40px;
	background-color: $black-eye;
  li {
    a {
      padding: 0px 15px 15px 0px;
      &:hover {
        background-color: transparent;
        text-decoration: underline;
      }
    }
  }
  small {
    display: block;
    clear:both;
    color: #BFBFBF;
  }
}


/* forms */

form.new_snippet, form.edit_snippet {
  input {
     padding: 20px 20px 20px 10px;
     border: none;
     font-size: 24px;
     color: white;
     background-color: #404040;
     white-space: pre;
  }
  textarea {
    padding: 10px;
    resize: vertical;
  	border: none;
  	font-family: "DejaVuSansMono";
    font-size: 16px;
    color: white;
  	background-color: $div-color;
  	white-space: pre;
  }
  label {
    margin-top: 20px;
    font-size: 18px;
    font-weight: normal;
  }
  input.btn {
  	margin-top: 20px;
    padding: 10px;
    border: none;
  	background-color: $redder;
    text-align: center;
  	&:hover {
  		background-color: $red;
      box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.19);
  	}
  }
}

/* snippets — to be redefined http://www.w3schools.com/bootstrap/bootstrap_panels.asp */

.snippet {
	margin-top: 20px;
	color: white;
	div.title {
		display: inline-block;
		width: 100%;
		padding: 10px 10px 7px 10px;
		border-radius: 5px 5px 0px 0px;
    background-color: #404040;
		a {
			&:hover {
				text-decoration: none;
			}
      i {
        margin-left: 5px;
        &.glyphicon-share {
          margin-left: 10px;
        }
      }
		}
		h3 {
			display: inline;
		}
	}
	div.code {
    padding: 10px;
    font-family: "DejaVuSansMono";
		white-space: pre;
	}
  div.stats {
    border-radius: 0px 0px 5px 5px;
    background-color: #404040;
    ul {
      padding: 5px 0px 5px 10px;
      list-style: none;
      li {
        display: inline;
        margin-right: 10px;
      }
    }
  }
}
