@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:900);

@font-face {
  font-family: "DejaVuSansMono";
  src: font-url("DejaVuSansMono.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "LiberationSans";
  src: font-url("LiberationSans-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
