<footer class="footer navbar-fixed-bottom">
	<p>Rubypaste — yet another Ruby code storage. Built with
	<%= link_to "Ruby 2.2.4",  "https://www.ruby-lang.org/" %> /
	<%= link_to "Rails 4.2.2", "http://rubyonrails.org/" %>.
	</p>
</footer>
