<footer class="footer">
  <ul class="nav navbar-nav">
    <li><%= link_to "About", about_path %></li>
    <li><%= link_to "Github", "https://github.com/umasko/rubypaste" %></li>
    <li><%= link_to "LinkedIn", "#" %></li>
  </ul>
  <small>
    Rubypaste–yet another Ruby code storage.
    Powered by <%= link_to "Ruby on Rails 4.2.2", "http://rubyonrails.org/" %>.
  </small>
</footer>
